<nav class="navbar navbar-expand-lg navbar-light fs-4" style="padding-left:10px;background-color:#98c6fa">
    <div class="navbar-header">
        <a class="navbar-brand fs-3 fw-bold" href="./">&#127345amazon Admin Portal</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {{import}}" href="./import">Import</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{categories}}" href="./categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{customers}}" href="./customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ratings}}" href="./ratings">Ratings</a>
        </li>
      </ul>
    </div>
  </nav>
  