<!DOCTYPE html>
<html lang="en">
{% include "bamazon/meta.html" with title="Bamazon" %}
<body>
    {% include "bamazon/header.html" %}
    <div class="container">
        <h1 class="display-1">&#127345amazon Admin Panel</h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="import">Import tables</a>
            <a class="list-group-item list-group-item-action" href="categories">View Categories Report</a>
            <a class="list-group-item list-group-item-action" href="customers">View Customers Report</a>
            <a class="list-group-item list-group-item-action" href="ratings">View Ratings Report</a>
        </div>
    </div>
    {% include "bamazon/footer.html" %}
</body>
</html>